/Fasterflect/.vs
/Fasterflect/TestResults
/Fasterflect/Fasterflect/bin
/Fasterflect/Fasterflect/obj
/Fasterflect/FasterflectBenchmark/bin
/Fasterflect/FasterflectBenchmark/obj
/Fasterflect/FasterflectPlayground/bin
/Fasterflect/FasterflectPlayground/obj
/Fasterflect/FasterflectSample/bin
/Fasterflect/FasterflectSample/obj
/fasterflect/FasterflectTest/bin
/fasterflect/FasterflectTest/obj
/Fasterflect/FasterflectExample/bin
/Fasterflect/FasterflectExample/obj
/Fasterflect/Benchmark/bin
/Fasterflect/Benchmark/obj
/Fasterflect/packages
