/Fasterflect/.vs
/Fasterflect/TestResults
/Fasterflect/Fasterflect/bin
/Fasterflect/Fasterflect/obj
/Fasterflect/FasterflectBenchmark/bin
/Fasterflect/FasterflectBenchmark/obj
/Fasterflect/FasterflectPlayground/bin
/Fasterflect/FasterflectPlayground/obj
/Fasterflect/FasterflectSample/bin
/Fasterflect/FasterflectSample/obj